body {
    background-color: #e8f3ea;
    background-image: url('../../imagenes/jungla2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #a7f5ad;
    height: 70px;
    position: fixed;
    top: 9px;
    left: -8px;
}

.conf {
    width: 100%;
    height: 70px;
    margin: auto;
}

.logo {
    width: 29%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

nav {
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 20px;
}

.logo a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    font-family: udec;
}

nav ul li {
    display: inline;
}

    nav ul li a {
        color: #6b7af2;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 15px;
        letter-spacing: 2px;
        font-family: udec;
    }

        nav ul li a:hover {
            color: #f3ece8;
        }

.titulo-principal {
    top: 166px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 100px;
}

.contenido-principal {
    width: 70%;
    margin: auto;
}

    .contenido-principal h1 {
        color: #eef26b;
        font-family: udec;
        font-size: 60px;
    }

    .contenido-principal p {
        color: #687274;
        font-family: udec;
        font-size: 30px;
    }

.fondo {
    width: 100%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.botton {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #6b7af2;
    background-color: #e8e9f3;
    border-radius: 6px;
    border: 2px solid #11981b;
}

@font-face {
    font-family: udec;
    src: url(fontawesome-webfont.woff);
}
